<table class="table">
    <tr>
        <th>{{i18n "migrationToMove"}}</th>
        <th>{{i18n "migrationMoving"}}</th>
        <th>{{i18n "migrationOver"}}</th>
        <th>{{i18n "migrationFail"}}</th>
        <th>{{i18n "allMigrationAccount"}}</th>
    </tr>
    <tr>
        <td>{{migrationToMoveCount}}({{i18n "yue"}}{{toMoveCountPercentage}})</td>
        <td>{{migrationMovingCount}}({{i18n "yue"}}{{movingCountPercentage}})</td>
        <td>{{finishCount}}({{i18n "yue"}}{{finishCountPercentage}})</td>
        <td>{{migrationFailCount}}({{i18n "yue"}}{{failCountPercentage}})</td>
        <td>{{totalNumber}}</td>
    </tr>
</table>