<div class="s-four-box">
    <div class="f-t-text">
        <p class="title">{{i18n "o-openMigration"}}</p>
        <p class="tipOne">{{i18n "stepFourTip1"}}</p>
        <p class="tipTwo">{{i18n  "stepFourTip2"}}</p>
        <div class="f-t-bg"></div>
    </div>
    <div class="s-footer">
        <div class="f-box">
            <div class="btn goStepThree lastStep">{{i18n "lastStep"}}</div>
            <div class="btn openMigrationBtn">{{i18n "o-openMigration"}}</div>
        </div>
    </div>
</div>